<% include ../partials/header %>
<div class="border border-secondary rounded givemespace">
    <h1><%=post.name%></h1>
    <%= post.author %> - <%= post.date %>
    <p><%- post.body %></p>
</div>
<% if(usersession != undefined) { %>
    <div class="border border-secondary rounded givemespace">
        <h3>Add Comment</h3>
        <%- "<form action='/processing/addComment/" + post._id + "' method='POST'>" %>
            <div class="form-group">
                <textarea class="form-control" name="body" placeholder="Body" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
<% } %>
<% for(let i = comments.length; i > 0; i--) { %>
<div class="border border-secondary rounded givemespace">
    <%= comments[i - 1].author %> - <%= comments[i - 1].date%>
    <% if(user != undefined) { %>
        <% if(user.permissionlvl == 255) { %>
            <br> <%- "<a href='/processing/deletecomment/" + comments[i - 1]._id + "'>Delete Comment</a>" %> <br>
        <% } %>
    <% } %>
    <p><%- comments[i - 1].body %></p>
</div>
<% } %>
<% include ../partials/footer %>